{{define "favoris"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Vos favoris</title>
</head>

<header>
    <div class="menu">
        <div class="menu_lien">
            <h4><a class="a_menu" title="Retour au menu" href="http://localhost:8080/">Menu</a></h4>
            <h4><a class="a_menu" title="Accès aux pays" href="http://localhost:8080/countries">Pays</a></h4>
            <h4><a class="a_menu" title="Accès aux favoris" href="http://localhost:8080/favoris">Favoris</a></h4>
        </div>
        <div class="logo">
            <h2>🌍</h2>
        </div>
        <div class="menu_lien2">
            <h4><a class="a_menu" title="Accès aux pays avec pagination" href="http://localhost:8080/countries/pagination">Pagination</a></h4>
            <h4><a class="a_menu" title="Accès aux flitres" href="http://localhost:8080/filter">Filtrage</a></h4>
        </div>
    </div>
    <div class="trait"></div>
</header>

<body class="back_g">
    <h1>Mes favoris</h1>

    <div class="parent_div_serach">
        <div class="div_search bt">
            <button class="button_search" type="button" title="Clique ici pour retourner à la liste des pays">
                <a href="/countries">Retour</a>
            </button>
        </div>
    </div>

    <div class="box">
        {{range .}}
        <div class="box_page_fav_div">
            <form action="/favorites/toggle" method="post" style="display:inline;">
                <input type="hidden" name="name" value="{{.Name.NameOfficiel}}">
                <button type="submit" class="button_fav" title="Clique ici pour ajouter ou ce pays aux favoris">
                    {{if .IsFavorite}}❤️{{else}}🤍{{end}}
                </button>
            </form>

            <div>{{.Name.NameOfficiel}}</div>

            <div>
                <button class="button_cons" type="button">
                    <a href="/countries/details?name={{.Name.NameOfficiel}}"
                        title="Clique ici pour voir plus d'informations sur {{.Name.NameOfficiel}}">Consulter</a>
                </button>
            </div>
        </div>
        {{end}}
    </div>



</body>

</html>
{{end}}